@import "colors.css";

* {
    border: solid;
    font-family: "Jet Brains Mono Nerd Font";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
    margin-bottom: 3px;
}

window#waybar {
    background: transparent;
    background-color: @primary_container;
    color: @error;
    transition-property: background-color;
    transition-duration: 0.1s;
}

window#waybar.hidden {
   opacity: 0.2;
}

#workspaces button:hover {
    background: inherit;
    color: @mauve;
}

#workspaces button {
    background: @primary_container;
    color: darkviolet;
    border-radius: 2px;
}

#workspaces button.focused {
    background-color: @primary_container;
    color: @rosewater;
}

#workspaces button.active {
    background-color: @transparent;
    color: @base;
    border-bottom: 2px solid @base;
}

#workspaces button.urgent {
    background-color: @primary_container;
}

#pulseaudio,
#clock,
#cpu,
#memory,
#disk,
#bluetooth,
#custom-power,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#taskbar {
    padding: 5px 15px;
    color: @pink;
    border-radius: 5px;
    background-color: @primary_container;
    margin: 0px 6px;
    color: bisque;
}

#custom-feishin {
    margin-left: 8px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7px;
    border: solid 3px;
    border-color: @primary_container;
    transition: background 0.3s ease-in-out, color 0.3s ease, border-radius 0.3s ease-in-out;
    color: @mauve;
}

#custom-power { 
    color: @green;
}

#custom-spotify:hover {
    border-radius: 7px;
    color: @maroon;
}

#clock {
    color: @maroon;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @sapphire;
}

#network {
    color: @yellow;
}

#memory {
   color: @blue;
}

#bluetooth {
   color: @blue;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0px;
}


